
<h2>gmap</h2>
<div class = "map_index">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class ="button_toilet">
          <div class="button_solid017">
           <a href="http://localhost:3000/hello">Top</a>
          </div>
          <div class="button_solid018">
           <a href="http://localhost:3000/toes">Home</a>
          </div>
          <div class="button_solid019">
           <a href="http://localhost:3000/garbages">ゴミ箱一覧</a>
          </div>
          <div class="button_solid020">
           <a href="http://localhost:3000/toilets">トイレ一覧</a>
          </div>
          <div class="button_solid021">
           <a href="http://localhost:3000/maps">Map</a>
          </div>
         </div>
        
    </div>
</nav>

<input id="address" type="textbox" value="ここで検索">
<input type="button" value="検索" onclick="codeAddress()">


<div id="display">調べたい場所をここで検索</div>

<div class="map-sc">
<div id='map'></div>
</div>

<style>
#map {height: 600px;width: 600px;}
</style>


<div class="map">

<script>
let map
let geocoder

const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });

      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {

      alert('該当する結果がありませんでした：' + status);
    }
  });   
}



</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAYfnipkw3_QXU4dmwM8WzGDxikGwKMOs&callback=initMap" async defer></script>
</div>

</div> 
</div>
</div>

