/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a {
    color: blue; 
  }

  * {
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 30px;
    margin-left: 30px;
    font-family: 'Amatic SC', cursive;
    text-align: center;

  }
  body {
    font-family: "Amatic SC", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 15px;
  }
  header {
    background: linear-gradient(90deg, rgb(247, 199, 182), rgb(151, 205, 249));
    height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  header a {
    background-image: url(https://assets.renovefudosan.com/production/images/column/3697/30f9ce0183ddf00b69fceb23f8122f5e.jpg);
    color: rgb(12, 19, 22); 
    text-decoration: none; 
  }
  header h1 {
    color: rgb(245, 249, 250);
    margin-left: 20px;
  }
  .header-list {
    background-image: url();
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }

  footer{
    position: absolute;/*←絶対位置*/
    bottom: 0;
  }
  
 

